{% extends 'base/base.html' %}

{% block title %}Answer{% endblock %}
{% block content %}
    <main role="main" class="container">
        <div class="row">
            <table class="table">
                <td width="70%">
                    <div class="">
                        <div class="mb-3">
                        <h1>Are you good in the topic?</h1>
                        <form method="post" class="mb-3">
                            {{ form.as_p }}
                                    {% if form.text.errors %}
                                        <div class="alert alert-danger" role="alert" {{ form.text.errors }}</div>
                                    {% endif %}
                            <button class="btn btn-primary">Push</button>
                            {% csrf_token %}
                        </form>
                        </div>
                    </div>
                </td>
                <td width="30%">
                    <div  class="container">
                        {% block sidebar %}
                        {% include "base/content/sidebar.html" %}
                        {% endblock %}
                    </div>
                </td>
            </table>
        </div>
    </main>
{% endblock %}