{% load static %}
  <header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <span class="fs-2">Hasker</span>
      </a>

        <ul class="nav col-12 col-lg-auto mb-2 justify-content-center mb-md-0 p-3">
          <li class="nav-item"><a href="{% url 'question:ask' %}" class="btn btn-primary" aria-current="page">Ask question</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search"  action="{% url 'question:search' %}">
          <input type="search" class="form-control" name="q" placeholder="Search..." aria-label="Search" value="{{ query }}">
        </form>

        {% if request.user.is_authenticated %}
        <div class="dropdown text-end">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{ request.user.get_thumb_url }}" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small">
              <li><a class="dropdown-item" href="{% url 'site_auth:profile' %}">Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'site_auth:logout' %}">Sign out</a></li>
          </ul>
        {% else %}
          <div class="text-end">
            <a class="btn btn-light me-2" href="{% url 'site_auth:login' %}" > Login</a>
            <button type="button" href="{% url 'site_auth:signup' %}" class="btn btn-warning">Sign-up</button>
          </div>
        {% endif %}
        </div>
      </div>
    </div>
  </header>